ng-include(src="'/partials/common/logged_out_header.html'")
.login_page.container
  .alert.alert-danger(ng-if='error')
    {{error}}
  .well.well-sm.row
    h3 Please enter an encryption key
    p All application data will be encrypted in the browser using the key below. Losing the key means loss of all data. 
    p Store the key in your records.
    p This page also requests permissions to store your data locally
  .panel.panel-default.row
    .panel-heading
      h4.panel-title Encryption Key
    form.panel-body.form_inline(role='form', ng-submit="onSubmit()")
      .form-group
        input.form-control(type='password', placeholder='Encryption Key', ng-model='key', required=true)
      input.btn.btn-primary(type="submit", value="Submit") 