ng-include(src="headerPath")
.profile_show.container.show_page
  div.error(ng-if="error")
    {{error}}
  .toolbar.row
    .pull-right
      .btn-toolbar
        a.btn.btn-primary(href='', ng-click="downloadBackup()") Download Backup
        a.btn.btn-primary(href='', ng-click="checkNewData()") Check new data
        a.btn.btn-primary(href='', ng-click="forceReload()") Force Refresh Tables
  .panel.panel-default.row
    .panel-heading
      h4.panel-title View Profile
    .panel-body.as-prop-columns.col-xs-12
      .row
        .left-pane Name
        .right-pane {{$root.userDetails.name}}
      .row
        .left-pane E-Mail
        .right-pane {{$root.userDetails.email}}